# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.m2/

# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/logs/*

# Misc
/data/mm-memory.db
/workspace/*
